<ion-view view-title="Connexion">
  <ion-content>
  <style type="text/css"> video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#inner {
    width: 50%;
    /* Set the margin-left and margin-right automatically set */
    margin: 0 auto;
}
</style>

  <video autoplay  id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="img/lovensco.mp4" type="video/webm">
<source src="img/lovensco.mp4" type="video/mp4">
</video>
  
    <div align="center" class="list">
      <img src="img/logo.png">
      <p></p> <p></p> <p></p>
      <form>


  <label class="item item-input">
  <i class="icon ion-ios-person-outline"></i>
  <input type="text" placeholder="ID élève" ng-model="credentials.username" autocapitalize="off" autocorrect="off">
</label>


<label class="item item-input">
  <i class="ion-ios-locked-outline"></i>
  <input placeholder="Mot de passe" type="password" placeholder="Votre mot de passe" ng-model="credentials.password">
</label>

        <div class="item">
         <button class="button icon-left ion-log-in button-positive"  ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
          <a ng-href="https://meducloud.com/education/login/forgot_password" mm-browser title="Mot de passe oublié"  class="button icon-left ion-ion-forward button-light" >Oublié ?</a>
        </div>
             
      </form>
    </div>
    <div align="center" class="tabs tabs-icon-top">


  <a ng-click="showHelp()" class="tab-item">
    <i class="icon ion-social-youtube-outline"></i>
    Présentation
  </a>


<a  href="https://meducloud.com/activation/" class="tab-item">
    <i class="icon ion-key"></i>
    Activation
  </a>
</div>
  </ion-content>
</ion-view>
