<ion-view view-title="Meducloud" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item">
                <h2>Meducloud infos</h2>
            </li>
            <li class="item item-divider">
                <p>https://</p>
            </li>
            <li class="item item-text-wrap">
                <h2>Site web</h2>
                <p><a href="https://meducloud.com" mm-link>https://meducloud.com</a></p>
            </li>
            <li class="item item-divider">
                <p>inof@meducloud.com</p>
            </li>
    
        </ul>
    </ion-content>
</ion-view>
