<ion-view view-title="À propos" >
    <ion-content mm-state-class>
    <p>Meducloud est un programme d'innovation scolaire en ligne qui vous apporte l'école du futur.</br>Avec une capacité mininum de gérer environs 80000000 élèves et 100000 écoles avec des fonctionnalités liées avec le système éducatif haitien.</p>
        <ul class="list">

            <a class="item item-icon-left item-icon-right" href="https://meducloud.com">
   <i class="icon ion-ios-browsers-outline"></i>
   https://meducloud.com
    <i class="icon ion-arrow-right-c"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="mailto:info@meducloud.com">
   <i class="icon ion-email"></i>
   info@meducloud.com
    <i class="icon ion-arrow-right-c"></i>
   </a>




            <li class="item">
                <h2>Meducloud</h2>
                <p>Version 1.0.0</p>
                <p>Tous droits réservés (c)2016</p>
            </li>
            
           
        </ul>

    </ion-content>
</ion-view>
